.chosenWord {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background: rgb(0, 153, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}
