.hanger {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
}

.stage {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}
