.App {
  text-align: center;
  font-family: "Sigmar One", cursive;
}

.text {
  font-size: 2rem;
  font-weight: bold;
}

.display {
  margin: auto;
  display: grid;
  width: 30rem;
  height: 30rem;
  grid-template-columns: auto;
  grid-template-rows: 60% 20% 20%;
  background: grey;
  border: solid;
  border-radius: 0.5rem;
}
